<% content_for :scripts do -%>
  <%= javascript_include_tag '/assets/jquery.masonry.min.js' %>
  <%= javascript_include_tag '/assets/jquery.imagesloaded.js' %>
  <%= javascript_include_tag '/assets/jquery.bxSlider.min.js' %>

  <script type="text/javascript">
    $(function() {
      var $imgouter = $('.imgouter');
      var $imgouter1 = $('.imgouter1'); 
      var $imgouter2 = $('.imgouter2'); 

      function loadImages (outer) {
        outer.imagesLoaded(function (){
          $imgouter.masonry({
            itemSelector: '.imgbox', columnWidth : 21 }); 
        });
      }

      function wait(ms){
        var to_time = new Date().getTime();
        while( new Date().getTime() < to_time+ms ){};
      }

      var fade1Var, fade2Var;

      function fade1() {
        fade1Var = setInterval(function (){
          var show1 = $imgouter1.index($('.imgouter1:visible').eq(0));
          $imgouter1.eq(show1).fadeOut('normal');

          setTimeout (function (){
            if ( $imgouter1.size()==(show1+1) ) { 
              $imgouter1.eq(0).fadeIn('normal') }
              else { $imgouter1.eq(show1+1).fadeIn('normal'); }
              loadImages($imgouter1);
          }, 1000);
        }, 6000);
      }

      function fade2() {
        fade2Var = setInterval(function (){
          var show2 = $imgouter2.index($('.imgouter2:visible').eq(0));
          $imgouter2.eq(show2).fadeOut('normal');

          setTimeout (function (){
            if ( $imgouter2.size()==(show2+1) ) {
              $imgouter2.eq(0).fadeIn('normal') }
              else { $imgouter2.eq(show2+1).fadeIn('normal'); }
              loadImages($imgouter2);
          }, 1000);
        }, 6000);
      }

      $imgouter1.eq(0).show();
      $imgouter2.eq(0).show();

      loadImages($imgouter);
      fade1();
      wait(3000);
      fade2();

      $('.imgouter1').hover(function(){ clearInterval(fade1Var);} , fade1);
      $('.imgouter2').hover(function(){ clearInterval(fade2Var);} , fade2);

      $('.showproject').ajaxComplete(function(e, xhr, setting) {
        $('#leftnote').html(xhr.responseText);
        $('#slider').bxSlider( { 
          prevImage: '/assets/leftbutton.png',
        nextImage: '/assets/rightbutton.png' });
      });
    });
  </script>
<% end -%>

<div id="container">
  <div id="header">
    <img src="/assets/wafflestudio.png" alt="WaffleStudio">
  </div>

  <div id="note">
    <div id="top_buttons">
      <%= link_to image_tag("idea_sketch.png"), sketches_path, :remote => true %>
      <%= link_to image_tag("project.png"), projects_path, :remote => true %>
    </div>
    <div id="leftnote">
    </div><!--Leftnote-->

    <div id="rightnote">
      <div id="list1" class="list">
        <p><img src="/assets/idea_sketch_title.png" alt="Idea Sketches"></p>
        <% 0.upto(@sketches.count/4-1) do |j| -%>
          <div class="imgouter imgouter1 clearfix"> 
            <% 0.upto(3) do |i| -%>
              <% unless @sketches[j*4+i].nil? -%>
                <div class="imgbox">
                  <%= link_to image_tag(@sketches[j*4+i].sketch_images.first.image.url(:small)), sketches_show_path(@sketches[j*4+i]), :remote => true, :class => 'showproject'  unless @sketches[j*4+i].sketch_images.first.nil? %>
                </div><!--imgbox-->
              <% else -%>
              <% end -%>
            <% end -%>
          </div> <!--imgouter-->
        <% end -%>

      </div> <!--list1-->

      <div id="list2" class="list">
        <p><img src="/assets/project_title.png" alt="Projects"></p>
        <% 0.upto(@projects.count/4-1) do |j| -%>
          <div class="imgouter imgouter2 clearfix">
            <% 0.upto(3) do |i| -%>
              <% unless @projects[j*4+i].nil? -%>
                <div class="imgbox">
                  <%= link_to image_tag(@projects[j*4+i].project_images.first.image.url(:small)), projects_show_path(@projects[j*4+i]), :remote => true, :class => 'showproject'  unless @projects[j*4+i].project_images.first.nil? %>
                </div><!--imgbox-->
              <% else -%>
              <% end -%>
            <% end -%>
          </div> <!--imgouter-->
        <% end -%>

      </div><!--list2-->
    </div><!--Rightnote-->
  </div><!--Note-->

  <div id="footer">
    Powered by <a href="http://www.wafflestudio.com" target="_blank">Wafflestudio</a> | Designed by JR
  </div><!--footer-->
</div><!--Container-->

