
<h1><%= @sketch.title %></h1>

<div id="slider">
	<% @sketch.sketch_images.each do |p| %>
		<div><%= image_tag(p.image.url(:large)) %></div>
	<% end -%>
</div> <!--slider-->

<div class="members">
  <h2>members</h2>
	<ul>
		<% @sketch.designers.each do |d| %>
      <li>
        <%= d.name %> <h3 class="name_label">design</h3>
        <span class="email"><%= d.email %></span>
      </li>
		<% end -%>
	</ul>
</div>

<div class="details">
	<ul>
		<li><%= @sketch.created_at %></li>
		<li><%= @sketch.description %></li>
	</ul>
</div>
