
<h1><%= @sketch.title %></h1>

<div id="slider">
	<% @sketch.sketch_images.each do |p| %>
		<div><%= image_tag(p.image.url) %></div>
	<% end -%>
</div> <!--slider-->

<div class="members">
	<ul>
		<% @sketch.designers.each do |d| %>
      <li><h3 class="name_label">designer</h3> | <%= d.name %></li>
		<% end -%>
	</ul>
</div>

<div class="details">
	<ul>
		<li><%= @sketch.created_at %></li>
		<li><%= @sketch.description %></li>
	</ul>
</div>
