<div class="top-bar">
	<h1><%= @sketch.title%></h1>
</div>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
			<th colspan="2">Sketch</th>
		</tr>
					<tr>
				<td><strong>title</strong></td>
				<td><%= @sketch.title %></td>
			</tr>
					<tr>
				<td><strong>description</strong></td>
				<td><%= @sketch.description %></td>
			</tr>
					<tr>
				<td><strong>created_at</strong></td>
				<td><%= @sketch.created_at %></td>
			</tr>
					<tr>
				<td><strong>manager_ids</strong></td>
				<td><%= @sketch.manager_ids %></td>
			</tr>
					<tr>
				<td><strong>designer_ids</strong></td>
				<td><%= @sketch.designer_ids %></td>
			</tr>
					<tr>
				<td><strong>member_ids</strong></td>
				<td><%= @sketch.member_ids %></td>
			</tr>
			</table>
</div>

<div class="actions">
	<%= link_to 'List', admin_sketches_path, :class => "action list" %> |
	<%= link_to 'Edit', edit_admin_sketch_path(@sketch), :class => "action edit" %> |
	<%= link_to 'Destroy', admin_sketch_path(@sketch), :method => :delete, :confirm => "Are you sure?", :class => "action destroy" %>
</div>
