<%= form_for @project do |f| %>
  <% if @project.errors.any? -%>
    <div class="errorExplanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved: </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| -%>
          <li><%= msg %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <b>Team:</b><br />
    <b><%= f.label :designers %></b>
    <% @project.designers.each do |d| -%>
      <%= d.name %> 
    <% end -%>
    <b><%= f.label :developers %></b>
    <% @project.developers.each do |d| -%>
      <%= d.name %> 
    <% end -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
