Projects <br /> <br />
<% @projects.each do |p| %>
  <p><%= link_to p.title, project_path(p) %></p>
  <p><%= p.description %></p>
  <% p.project_images.each do |i| %>
    <%= image_tag(i.image.url(:small)) %>
  <% end -%>
  <%= image_tag(p.avatar.url) if p.avatar? %>
  <p><%= p.developers.map {|d| d.name} %></p>
  <p><%= p.designers.map {|d| d.name} %></p>
<% end -%>

Idea Sketches<br /><br />

<% @sketches.each do |p| %>
  <p><%= p.title %></p>
  <p><%= p.description %></p>
  <% p.sketch_images.each do |i| %>
    <%= image_tag(i.image.url(:large)) %>
  <% end -%>
  <p><%= p.designers.map {|d| d.name} %></p>
<% end -%>
