
<h1><%= @project.title %></h1>

<div id="slider">
	<% @project.project_images.each do |p| %>
		<div><%= image_tag(p.image.url(:large)) %></div>
	<% end -%>
</div> <!--slider-->

<div class="members">
  <h2>members</h2>
	<ul>
    <% @project.members.each do |d| %>
      <li>
        <%= d.name %> <h3 class="name_label"><%= @project.roles(d) %></h3>
        <span class="email"><%= d.email[0..-18] %></span>
      </li>
		<% end -%>
	</ul>
</div>

<div class="details">
	<ul>
		<li><%= @project.created_at %></li>
		<li><%= @project.description %></li>
	</ul>
</div>
