
<h1><span class="project_title">project></span> <%= @project.title %></h1>

<div id="slider">
<% if @project.project_images == [] %>
<div><%= image_tag "project_index_icon_big.png" %></div>
<% end %>
	<% @project.project_images.each do |p| %>
		<div><%= image_tag(p.image.url(:large)) %></div>
	<% end -%>
</div> <!--slider-->

<div class="members">
  <h2>members</h2>
	<ul>
    <% @project.members.each do |d| %>
      <li>
      <%= link_to member_path(d), :style => "text-decoration: none; color: black;", :remote => true do %>
        <%= d.name %> <h3 class="name_label"><%= @project.roles(d) %></h3>
        <span class="email"><%= d.email %></span>
      <% end -%>
      </li>
		<% end -%>
	</ul>
</div>

<div class="details">
	<ul>
		<li><%= @project.created_at %></li>
		<li><%= @project.description %></li>
	</ul>
</div>
