<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= javascript_include_tag "admin/admin" %>
    <%= stylesheet_link_tag "admin/admin"%>
    <%= stylesheet_link_tag "admin/auth"%>

    <%= yield :scripts %>

    <%= csrf_meta_tags %>
</head>
<body>
    <div id="main">
        <div id="header">
            <a href="#" class="logo"><img src="/assets/admin/logo.png" width="143" height="59" alt="" /></a>
            <ul id="top-navigation">
							<li><%= link_to 'Dashboard', admin_path, :class => params[:controller] == 'admin/admin'?"active":""%></li>
																<li><%= link_to "Member", admin_members_path, :class => params[:controller]=="admin/members"?"active":"" %></li>
									<li><%= link_to "Project", admin_projects_path, :class => params[:controller]=="admin/projects"?"active":"" %></li>
									<li><%= link_to "ProjectImage", admin_project_images_path, :class => params[:controller]=="admin/project_images"?"active":"" %></li>
									<li><%= link_to "Sketch", admin_sketches_path, :class => params[:controller]=="admin/sketches"?"active":"" %></li>
									<li><%= link_to "SketchImage", admin_sketch_images_path, :class => params[:controller]=="admin/sketch_images"?"active":"" %></li>
						</ul>
        </div>
        <div id="middle">
            <div id="left-column">
              <%= render :partial => 'sidebar' %>
                
                <!-- <a href="#" class="link">Link here</a>
                <a href="#" class="link">Link here</a> -->
            </div>
            <div id="center-column">
              <%= yield %>
            </div>
            <div id="right-column">
                <strong class="h">Quick Info</strong>
                <div class="box">This is your admin home page. It will give you access to all things within the back end system that you will need to facilitate a smooth operation.</div>
            </div>
        </div>
        <div id="footer"><p>Developed by <a href="http://twitter.com/umutm">Umut Muhaddisoglu</a> 2008. Updated for HTML5/CSS3 by <a href="http://mediagearhead.com">Giles Wells</a> 2010.</p></div>
    </div>
</body>
</html>
